* {
  margin: 0;
  padding: 0;
}

.container {
  width: 90%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

#header {
  background: #FFFFFF;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
  padding: 10px 0;
}
#header .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header .header__nav a {
  font-size: 14px;
  color: #000000;
  margin: 0 20px 0 0;
}

#hero {
  margin: 50px 0 0 0;
}
#hero .hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#hero .hero__img img {
  width: 470px;
  height: 370px;
}
#hero .hero__title {
  font-size: 36px;
  line-height: 42px;
  text-transform: uppercase;
  color: #000000;
  width: 429px;
}
#hero .hero__subtitle {
  font-size: 16px;
  line-height: 24px;
  color: #666666;
  width: 419px;
  margin: 20px 0;
}
#hero .hero__text h3 {
  font-size: 10px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #000000;
}

#also {
  margin: 60px 0 0 0;
}
#also .also {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#also .also__img1 img {
  width: 387px;
  height: 254px;
}
#also .also__titleh1 {
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #000000;
  width: 347px;
  height: 72px;
  margin: 29px 0 19px 0;
}
#also .also__subtitleh3 {
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #000000;
}

#also1 {
  margin: 78px 0 0 0;
}
#also1 .also1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#also1 .also1__img2 img {
  width: 386px;
  height: 254px;
  margin-top: 22px;
}
#also1 .also1__img3 img {
  width: 386px;
  height: 254px;
  margin-top: 43px;
}
#also1 .also1__img1 img {
  width: 386px;
  height: 254px;
  margin-top: -4px;
}
#also1 .also1__h1-1 {
  font-size: 19px;
  line-height: 24px;
  text-transform: uppercase;
  color: #000000;
  width: 327px;
  height: 48px;
  margin: 30px 0 27px 0;
}
#also1 .also1__h3-1 {
  font-size: 10px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #000000;
}
#also1 .also1__last {
  font-size: 19px;
  line-height: 24px;
  text-transform: uppercase;
  color: #000000;
  width: 364px;
  height: 96px;
  margin: 30px 0 27px 0;
}
#also1 .also1__last1 {
  font-size: 10px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #000000;
}
#also1 .also1__done {
  font-size: 19px;
  line-height: 24px;
  text-transform: uppercase;
  color: #000000;
  width: 377px;
  height: 72px;
  margin: 30px 0 27px 0;
}
#also1 .also1__done1 {
  font-size: 10px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #000000;
}

#btn {
  padding: 70px 0 90px 0;
}
#btn .btn__btn {
  background: #E6E6E6;
  border-radius: 0;
  width: 1200px;
  height: 1px;
}

#work .work {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#work .work__work img {
  width: 570px;
  height: 367px;
}
#work .work__h1 {
  font-weight: 400;
  font-size: 19px;
  line-height: 24px;
  text-transform: uppercase;
  color: #000000;
  margin: 30px 0 9px 0;
}
#work .work__h3 {
  font-size: 10px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #000000;
  margin: 0 0 40px 0;
}

#footer {
  padding: 60px 0 0 0;
  background: #141414;
}

.footer__h1 {
  color: #E6E6E6;
}
.footer__span {
  font-weight: 400;
  font-size: 10px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #666666;
}
.footer__btn {
  border: #4D4D4D;
  background: #4D4D4D;
  color: #4D4D4D;
  width: 1200px;
  height: 1px;
  margin: 30px 0 50px 0;
}
.footer__h3 {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #FFFFFF;
  margin: 0px 0 9px 0;
}
.footer__btn1 {
  background: #FFFFFF;
  border: 1px solid #CCCCCC;
  border-radius: 0;
  width: 190px;
  height: 48px;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #666666;
  margin-right: -180px;
}
.footer__send {
  background: #000000;
  border-radius: 0;
  width: 78px;
  height: 48px;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-left: 7px;
}
.footer__group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__span {
  font-size: 10px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #666666;
}
.footer__group2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 0 50px 0;
}

/*# sourceMappingURL=style.css.map */
